MONGODB_URI=mongodb://127.0.0.1:27017/BabyChat
JWT_SECRET=cuongvp1829
JWT_ACCESS_TOKEN_EXPIRES=1d
FRONTEND_URL=http://192.168.1.10:5173
# File upload configuration
STORAGE_TYPE=local # or 'cloudinary'
UPLOAD_DIR=./uploads
UPLOAD_MAX_SIZE_MB=5
PUBLIC_BASE_URL=http://localhost:3000

# Cloudinary Config (Only required if STORAGE_TYPE=cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=babychat.app.system@gmail.com
SMTP_PASS=xrredxanpfgmsbvm

